Hello Test,

<p>
	<p>The product id: {{product.id}}, name: {{product.name}}, with the description: {{product.description}} is created the {{product.creationdate|date("Y-m-d")}} by the user {{product.createdby}}.</p>
	<div>Thank you and have a good day.</div>
	<div>testr3g</div>
<p>
