	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="40%" class="sty_label">{{'label.reference'|trans([],'JmnProductBundle')}}</th>
			<th width="40%" class="sty_label">{{'label.name'|trans([],'JmnProductBundle')}}</th>
		</tr>
		<tr>
			<td>{{ param.reference }}</td>
			<td>{{ form_widget(edit_form.name) }}</td>		
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th class="sty_label">{{'label.category'|trans([],'JmnProductBundle')}}</th>
			<th class="sty_label">{{'label.unit'|trans([],'JmnProductBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.category) }}</td>
			<td>{{ form_widget(edit_form.unit) }}</td>		
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">Value</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.value) }}</td>		
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</table>
