    <table>
        <tbody>
            <tr>
                <th width="120px">Id:</th>
                <td width="500px">{{ param.id }}</td>
            </tr>
			<tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <th>{{'label.reference'|trans([],'JmnProductBundle')}}:</th>
                <td>{{ param.reference }}</td>
            </tr>
			<tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <th>{{'label.name'|trans([],'JmnProductBundle')}}:</th>
                <td>{{ param.name }}</td>
            </tr>
			<tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <th>{{'label.category'|trans([],'JmnProductBundle')}}:</th>
                <td>{{ param.category }}</td>
            </tr>
			<tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <th>Value:</th>
                <td>{{ param.value }}</td>
            </tr>
			<tr><td colspan="2">&nbsp;</td></tr>
        </tbody>
    </table>
